extends layout

block content
    div(class="row")
      div(class="small-6")
        a(class="button large success expand" href="/control").
          Control
      div(class="small-6")
        a(class="button large expand" href="/grid").
          Grid

    script(src="/javascripts/index.js")
